.App {
    display: flex;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    margin-left: 260px;
    /* Width of sidebar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: var(--transition);
    background-color: var(--background-color);
}

.main-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .content-wrapper {
        margin-left: 0;
    }

    .main-content {
        padding: 1rem;
    }
}